/* Container layout */
.otp-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: white;
    font-family: 'Arial', sans-serif;
}

.otp-left {
    width: 50%;
    padding: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.otp-text {
    font-size: 18px;
    color: #333;
    line-height: 1.6;
    text-align: left;
}

/* Form layout */
.otp-form {
    width: 400px;
    padding: 40px;
    background-color: white;
    border-radius: 16px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.05);
    border: 1px solid rgba(0, 0, 255, 0.2);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.otp-form h2 {
    font-size: 24px;
    margin-bottom: 20px;
    text-align: center;
    color: #333;
}

.otp-form p {
    font-size: 14px;
    margin-bottom: 20px;
    color: #777;
    text-align: center;
}

/* Input field styles */
.input-icon-wrapper {
    display: flex;
    align-items: center;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #f9f9f9;
    /* margin-top: 20px; */
}

.input-icon-wrapper .icon {
    margin-right: 10px;
    font-size: 20px;
    color: #555;
}

.input-icon-wrapper input {
    width: 100%;
    border: none;
    background-color: transparent;
    outline: none;
    font-size: 16px;
    color: #333;
}

.input-icon-wrapper input::placeholder {
    color: #999;
}

/* Button styles */
.verify-btn {
    width: 100%;
    padding: 12px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-weight: bold;
    font-size: 16px;
    transition: background-color 0.3s ease;
    margin-top: 5px;
    margin-bottom: 10px;
    display: inline-block;
    text-align: center;
    text-transform: uppercase;
}

.verify-btn:hover {
    background-color: #0056b3;
    box-shadow: 0 4px 10px rgba(0, 123, 255, 0.2);
}

.verify-btn:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

/* Responsive design adjustments */
@media (max-width: 768px) {
    .otp-container {
        flex-direction: column;
        padding: 1rem;
    }

    .otp-left {
        width: 100%;
        text-align: center;
    }

    .otp-form {
        width: 100%;
    }
}
